<nav class="navbar navbar-default navbar-fixed-top agb-nav">
    <div class="container navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ "/" | relative_url }}">AGB</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="{% if page.nav_id == 'home' %}active{% endif %}"><a href="{{ "/" | relative_url }}">Home</a></li>
                <li class="{% if page.nav_id == 'methodology' %}active{% endif %}"><a href="{{ "/methodology/" | relative_url }}">Methodology</a></li>
                <li class="{% if page.nav_id == 'models' %}active{% endif %}"><a href="{{ "/models/" | relative_url }}">Models</a></li>
                <li class="{% if page.nav_id == 'datasets' %}active{% endif %}"><a href="{{ "/datasets/" | relative_url }}">Datasets</a></li>
                <li class="{% if page.nav_id == 'results' %}active{% endif %}"><a href="{{ "/results/" | relative_url }}">Results</a></li>
                <li class="{% if page.nav_id == 'leaderboard' %}active{% endif %}"><a href="{{ "/leaderboard/" | relative_url }}">Leaderboard</a></li>
                <li class="{% if page.nav_id == 'about' %}active{% endif %}"><a href="{{ "/about/" | relative_url }}">About</a></li>
            </ul>
        </div>
    </div>
</nav>
